.App {
  text-align: center;
  background-image: url('./image/WeatherLock-Lock-screen-730x480.jpg');
  height: 640px;
  margin: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.weatherDetail{
  width:50%;
  margin-left: 10%;
  /* margin-top: 20px; */
  padding: 30px 0px 50px 0px ;
  /* background-color: #61dafb; */
  border-radius: 10px;
}

.singleItem{
  display: grid;
  grid-template-columns: 0.3fr 0.5fr ;
}

.info_name{
  /* background-color: blanchedalmond; */
  padding: 10px;
  text-align: left;
  color:black;
  border: 1px solid rgb(197, 197, 187);
}

.info_detail{
  /* background-color: blanchedalmond; */
  padding:10px;
  /* margin-left: 20px; */
  text-align: left;
  border: 1px solid rgb(197, 197, 187);

}

.imageSize{
  width:20%;
}
.label{
  color:white;
  padding:2px;
  /* padding-bottom: 10px; */
}

.topInfo{
  display: flex;
  align-items: center;
}
.topTemperature{
  padding: 5px;
  color: yellow;
}

.inputForm{
  width: 15%;
  border-radius: 20px 0px 0px 20px;
  padding: 15px;
  border-style: none;
}

.submitBtn{
  border-radius: 0px 20px 20px 0px;
  padding: 15px; 
  border-style: none;
  width: 8%;
}

.completePageInfo{
  padding-top: 50px;
}

.incorrectCity{
  margin-top: 20px;
  text-align: center;
  color: aqua;
}